<!--
  Generated template for the TagsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TagsModal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="card2show">

<ion-item *ngFor="let tags1 of receivedTags">
    <ion-label>{{tags1}}</ion-label>
    <ion-checkbox color="dark" [checked]="helloName" (ionChange)="updateTags(tags1,$event)"></ion-checkbox>
</ion-item>

<ion-item *ngFor="let tags2 of availTags; let i = index">
    <ion-label value="tags2">{{tags2}}</ion-label>
    <ion-checkbox color="dark" [checked]="tags2.currentValue" (ionChange)="updateTags(tags2,$event)"></ion-checkbox>
</ion-item>

<button ion-button (click)="dismissModal()">Close</button>

</ion-content>
