page-home {

}

.content {
    background: #232f34;
}

#startBtn {
    background:#df2020;
    width: 45%;
    align: center;
}

#projectBtn {
  text-align: center;
}

#elap {
  width: 50%;
  text-align: left;
}

#iconBtn {
  align: center;
}
