page-home {

}

.content {
    background: #232f34;
}

#startBtn {
    background:#df2020;
    width: 45%;
    align: center;
}

#projectBtn {
  text-align: center;
}

#elap {
  width: 50%;
  text-align: left;
}

#iconBtn {
  align: center;
}

#card-color {
  background: #27282d;
}

#card-header {
  height: 40px;
  background: #fbfbfb;
  /*color: #f0f1f3;*/
  vertical-align: middle;
}

.entry-col1 {

  /*background:#fbfbfb;*/
}

.font-color1 {
  color: #b3a370;
}

.font-color2 {
  color: rgba(#c4d7d3, 0.74);
}

.font-color3 {
  color: #969390;
}

.tags-font-color {
  color: #67792e;
}

.icon-color {
  font-size: 20px;
  color: #fbfbfb;
}

.row-height {
  height: 30px;
  /*background: #ffffff;*/
}
